<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    header {
      background-color: #333;
      color: white;
      padding: 1rem;
      text-align: center;
    }

    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      background-color: #444;
    }

    nav ul li {
      margin: 0;
      padding: 1rem;
    }

    main {
      margin: 2rem;
    }
  </style>
</head> 

<body>
  <header>
    <h1>Mi Web-App</h1>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/realtimeproducts"> Productos </a></li>
      </ul>
    </nav>
  </header>


  <main>
    <h2>Bienvenido a la Home Page</h2>
   
  </main>

  <script src="/realTimeProducts.js"></script>
</body>

</html>

